<div us-spinner="{radius:10, width:3, length: 10}" spinner-key="connect-to-group">
    <div class="modal-header" ng-if="$root.isLoggedIn">
        <user-info-header></user-info-header>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" id="tabContent">
            <li class="active"><a href="javascript:;" ng-click="startModalState = 1" data-target="#play-online" data-toggle="tab">Онлайн</a></li>
            <li><a href="javascript:;" data-target="#play-online" ng-click="startModalState = 2" data-toggle="tab">Играть с другом</a></li>
        </ul>

        <br />
        <div class="alert alert-danger alert-dismissible" ng-show="connectToGroupErrorMessage && connectToGroupErrorMessage !== ''">
            {{connectToGroupErrorMessage}}
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="play-online">
                <br />
                <user-info></user-info>
            </div>

            <div class="tab-pane" id="play-with-friend">
                <br />
                <user-info></user-info>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <log-in></log-in>
        <button class="btn btn-default btn-submit" ng-show="startModalState === 1" ng-click="connectToGroup()">Начать игру</button>
        <button class="btn btn-default btn-submit" ng-show="startModalState === 2" ng-click="createAndConnectToCustomRoom()">Создать комнату</button>
    </div>
</div>