<div us-spinner="{radius:10, width:3, length: 10}" spinner-key="connect-to-group">
    <div class="modal-header">
        <h4>Подключится к комнате</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger alert-dismissible" ng-show="connectToGroupErrorMessage && connectToGroupErrorMessage !== ''">
            {{connectToGroupErrorMessage}}
        </div>

        <span class="text">Уровень: {{$root.roomOptions.roomLevelFromUrl.name}}</span>
        <br />
        <span class="text">Кол-во слов: {{$root.roomOptions.wordsCount}}</span>
        <br />
        <br />
        <input class="form-control" type="textarea" placeholder="Ваше имя :)" ng-model="$root.displayName"></input>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" href="/">Отменить</a>
        <button class="btn btn-default btn-submit" ng-click="connectToExistingRoom()">Подключится</button>
    </div>
</div>